<h3>Users</h3>
<div class="col-12">
    <kendo-grid
      #appUserGrid
      [pageable]="true"
      [sortable]="true"
      [selectable]="true"
      [filterable]="true"
      [data]="dataServiceData | async"
      [pageSize]="state.take"
      [skip]="state.skip"
      [sort]="state.sort"
      [filter]="state.filter"
      [loading]="dataService?.pendingData"
      (dataStateChange)="dataStateChange($event)"
      (edit)="editHandler($event)"
      (remove)="removeHandler($event)"
      (add)="addHandler()"
      (selectionChange)="gridUserSelectionChange(appUserGrid, $event)"
    >
      <ng-template kendoGridToolbarTemplate>
        <button kendoGridAddCommand>
          <h5>Add a new User </h5>
        </button>
      </ng-template>
      <kendo-grid-column
        [field]="'Name'"
        [filterable]="true"
        [filter]="'text'"
        [sortable]="true"
        [title]="'Name'"
      ></kendo-grid-column>
      <kendo-grid-column
        [field]="'UserName'"
        [filterable]="true"
        [filter]="'text'"
        [sortable]="true"
        [title]="'UserName'"
      ></kendo-grid-column>
      <kendo-grid-column
        [field]="'Password'"
        [filterable]="true"
        [filter]="'text'"
        [sortable]="true"
        [title]="'Password'"
      ><ng-template kendoGridCellTemplate>******</ng-template></kendo-grid-column>
      <kendo-grid-command-column [width]="220">
        <ng-template kendoGridCellTemplate>
          <button kendoGridEditCommand>
            <span class="k-icon k-i-edit"></span>Edit
          </button>
          <button kendoGridRemoveCommand>
            <span class="k-icon k-i-close"></span>Remove
          </button>
        </ng-template>
      </kendo-grid-command-column>
    </kendo-grid>
  </div>
  <div *ngIf="currentAppUser != ''">
    <app-user-role-view [AppUserId]="currentAppUser"> </app-user-role-view>
  </div>
  <app-add-edit-app-user
  [model]="editDataItem"
  [isNew]="isNew"
  (save)="saveHandler($event)"
  (cancel)="cancelHandler()"
  >
  </app-add-edit-app-user>