<h3>Book stock</h3>

<div class="col-12">
    <kendo-grid #bookStockGrid [pageable]="true" [sortable]="true" [filterable]="true" [data]="dataServiceData | async" [pageSize]="state.take"
      [skip]="state.skip" [sort]="state.sort" [filter]="state.filter" [loading]="dataService?.pendingData" (dataStateChange)="dataStateChange($event)"
      (edit)="editHandler($event)" (cancel)="cancelHandler()" (remove)="removeHandler($event)" (add)="addHandler()">
      <ng-template kendoGridToolbarTemplate *ngIf="this.auth.isAuthorized({roles:['Admin', 'Superadmin']})">
        <button kendoGridAddCommand>
          <h5>Add a new Book Stock </h5>
        </button>
      </ng-template>
      <kendo-grid-column field="LibraryAgencyId" title="Library Agency" *ngIf="this.auth.isAuthorized({roles:['Superadmin']})" >
        <ng-template kendoGridCellTemplate let-dataItem>
              {{ libraries(dataItem.LibraryAgencyId)?.LibraryAgencyName}}
            </ng-template>
            <ng-template
              kendoGridEditTemplate
              let-dataItem="dataItem"
              let-column="column"
              let-formGroup="formGroup"
            >
          <kendo-dropdownlist
            [defaultItem]="{ LibraryAgencyId: '', LibraryAgencyName: 'Choose a Library Agency Name' }"
            [data]="LibrariesList"
            textField="LibraryAgencyName"
            valueField="LibraryAgencyId"
            [valuePrimitive]="true"
            [formControl]="formGroup.get('LibraryAgencyId')"
          >
          </kendo-dropdownlist>
        </ng-template>
        <ng-template kendoGridFilterCellTemplate let-filter>
            <dropdown-filter
              [filter]="state.filter"
              [data]="LibrariesList"
              textField="LibraryAgencyName"
              valueField="LibraryAgencyId"
              [selectText]="selectTextLibraryAgencyName"
            >
            </dropdown-filter>
          </ng-template>
      </kendo-grid-column>
      <kendo-grid-column [field]="'StockAmount'" [filterable]="true" [filter]="'numeric'" [sortable]="true" [title]="'StockAmount'"></kendo-grid-column>
      <kendo-grid-column [field]="'ValidFrom'" [format]="'dd/MM/yyyy'" [filterable]="true" [filter]="'date'" [sortable]="true" [title]="'ValidFrom'"></kendo-grid-column>
      <kendo-grid-column [field]="'ValidTo'" [format]="'dd/MM/yyyy'" [filterable]="true" [filter]="'date'" [sortable]="true" [title]="'ValidTo'"></kendo-grid-column>
      
      <kendo-grid-command-column [width]="220" *ngIf="this.auth.isAuthorized({roles:['Admin', 'Superadmin']})">
        <ng-template kendoGridCellTemplate>
          <button kendoGridEditCommand>
            <span class="k-icon k-i-edit"></span>Edit
          </button>
          <button kendoGridRemoveCommand>
            <span class="k-icon k-i-close"></span>Remove
          </button>
        </ng-template>
      </kendo-grid-command-column>
    </kendo-grid>
  </div>

<app-add-edit-book-stock
  [model]="editDataItem"
  [isNew]="isNew" 
  (save)="saveHandler($event)" 
  (cancel)="cancelHandler()"
  [librarieAgencyList]="LibrariesList"
></app-add-edit-book-stock>

