<h3>Download top 10</h3>
<button (click)="getRequestTable('TopTenBooks')"> Book Types</button>
<button (click)="getRequestTable('TopTenRentedBooks')"> Rented Books</button>
<button (click)="getRequestTable('TopTenActiveUsers')"> Active Users</button>
<button (click)="getRequestTable('TopTenLibrariesByUsers')">Libraries</button>

<div class="col-13" *ngIf="requestTable">
    <kendo-grid #TopTen [data]="topTenList">
            <ng-template kendoGridToolbarTemplate>
            <button class="twoButton" kendoGridPDFCommand icon="file-pdf">Export to PDF</button>
            <button class="twoButton" (click)="getCSV()"> <p>Export to CSV</p></button>
          </ng-template>
        <kendo-grid-column [field]="'Description'" [title]="description"></kendo-grid-column>
        <kendo-grid-column [width]="150" [field]="'Number'" [title]="number"></kendo-grid-column>
        <kendo-grid-pdf
        fileName={{this.pdfName}}
        paperSize="A4">
    </kendo-grid-pdf>
    </kendo-grid>
</div>